<header class="header">
    <nav class="header-nav">
        <div class="header-nav-left">
            <h1>
                Mohammed Hassan
            </h1>
        </div>
        <div class="header-nav-right">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
            </ul>
            <button type="button">Log In</button>
            <button type="button">Sign Up</button>
        </div>
    </nav>
</header>