/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}
body {
    font-family: "Open Sans", "Helvetica Neue",sans-serif;
}
.header {
    background-color: blueviolet;
}
.header-nav {
    display: flex;
    justify-content: space-between;
}
.header-nav-left h1 {
    margin: 10px;
}
.header-nav-right {
    display: flex;
}
.header-nav-right li {
    display: inline;
}
.header-nav-right ul {
    margin: 15px;
}
button {
    color: black;
    background-color: aquamarine;
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;

    transition: color ease-in-out 1s;
}
a {
    font-weight: bolder;
    text-decoration: none;
    color: navajowhite;
    padding-right: 3px;
    padding-left: 3px;
}
li {
    font-weight: bold;
    list-style: none;
}

button:hover {
    color: lightcoral;
    background-color: aquamarine;
    opacity: 0.6;
}
